/* Home.css */

.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../utils/images/firstimage.jpeg);
    background-size: cover;
    background-position: center;
    height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

header .container {
    color: white;
}

.social-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.social-buttons a {
    text-decoration: none;
}

.social-buttons i {
    font-size: 2rem;
    transition: all ease-in-out 150ms;
}

.social-buttons .fa-facebook-square {
    color: #4867AA;
}

.social-buttons .fa-twitter-square {
    color: #1DA1F2;
}

.social-buttons .fa-github-square {
    color: black;
}

.social-buttons .fa-snapchat-square {
    color: #fffc00;
}

.social-buttons i:hover {
    cursor: pointer;
    text-shadow: 0 0.4375rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.3125rem);
}

.social-buttons .fa-facebook-square:hover {
    text-shadow: 0 1rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
}

.social-buttons .fa-twitter-square:hover {
    text-shadow: 0 1rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
}

.social-buttons .fa-github-square:hover {
    text-shadow: 0 0.875rem 0.625rem rgba(0, 0, 0, 0.4);
    transform: translateY(-0.3125rem);
}

.social-buttons .fa-snapchat-square:hover {
    text-shadow: 0 1rem 0.625rem rgba(0, 0, 0, 0.3);
    transform: translateY(-0.5rem);
}

/* General Styles */
.App {
  text-align: center;
}

h1, h2, h3, p, a {
  font-family: 'Montserrat', sans-serif;
}

/* Header Styles */
header h1 {
  font-size: 4rem;
}

.navbar .nav-link {
  font-size: 0.875rem; /* 14px to rem */
  color: #ffffff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #dc3545;
}

nav .navbar-toggler:focus {
  box-shadow: none;
}

/* Hover Effect */
.scale-hover-effect {
  transition: transform 0.5s ease;
}

.scale-hover-effect:hover {
  transform: scale(1.05);
}

/* Height Utility Class */
.height-75 {
  height: 75vh;
}

/* Footer Styles */
.footer-social-icons li:hover svg {
  fill: #212529;
}

.footer-navigation li:hover {
  color: #212529;
}

/* Media Queries for Responsiveness */
@media only screen and (max-width: 992px) {
  header h1 {
    font-size: 4rem;
  }
  #basic-navbar-nav {
    background-color: #ffffff;
    padding: 0.625rem 1.25rem; /* 10px 20px to rem */
    border-radius: 0.375rem;
  }
  .navbar .nav-link {
    color: #212529;
  }
}

@media only screen and (max-width: 768px) {
  header h1 {
    font-size: 3rem;
  }
  .navbar .nav-link {
    font-size: 0.75rem; /* 12px to rem */
  }
}

@media only screen and (max-width: 576px) {
  header h1 {
    font-size: 2rem;
  }
  .navbar .nav-link {
    font-size: 0.625rem; /* 10px to rem */
  }
}

/* Styles for large laptops (greater than 1200px) */
@media only screen and (min-width: 992px) {
  header h1 {
    font-size: 6.2rem; /* Increase the font size for large laptops */
  }
  .navbar .nav-link {
    font-size: 1rem; /* Set font size to 16px (1rem) for better readability */
  }
  .social-buttons i {
    font-size: 3rem; /* Increase the icon size for large screens */
  }
  .social-buttons i:hover {
    text-shadow: 0 0.625rem 0.875rem rgba(0, 0, 0, 0.4); /* Adjust shadow for larger icons */
    transform: translateY(-0.375rem); /* Adjust hover effect */
  }
  .social-buttons .fa-facebook-square:hover,
  .social-buttons .fa-twitter-square:hover,
  .social-buttons .fa-github-square:hover,
  .social-buttons .fa-snapchat-square:hover {
    text-shadow: 0 1.25rem 0.875rem rgba(0, 0, 0, 0.3); /* Adjust shadow for larger icons */
    transform: translateY(-0.625rem); /* Adjust hover effect */
  }
}
